:root {
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --WHITE: #ffffff;
  --NAVY-BLUE: #2e2f42;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --OCEAN: #404bbf;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --GREEN: #31d0aa;
  --GREY: #2e2f42b3;
  --DAIRY: #fcfcfc;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--SLATE);
  background: var(--WHITE);
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.page {
  overflow: hidden;
}
header {
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 304px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}
address,
.header-menu-list {
  display: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 4px;
  align-items: center;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: var(--IRIS);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-part {
  color: var(--NAVY-BLUE);
}
.header-btn {
  color: #2e2f42;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 18px 0;
}
.hero-section-container {
  background-color: var(--NAVY-BLUE);
  display: flex;
  align-items: center;
  padding: 112px 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-1.jpg);
}
.tagline {
  color: var(--WHITE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin: 0 auto 72px;
}
.order-button {
  color: var(--WHITE);
  background-color: var(--IRIS);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
}

/* Mobile benefits styles */
.benefits-section {
  padding: 96px 0;
}
.hidden-title,
.benefit-icon {
  display: none;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.benefit-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.benefit-text {
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.wawd-section {
  display: none;
}

/* Mobile Team styles */
.about-team-section {
  background-color: var(--CLOUD);
  padding: 120px 0;
}
.section-title {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  display: block;
  margin: 0 auto 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.employee-card {
  background-color: var(--WHITE);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.employee-content {
  padding: 32px 0;
}

.employee-name {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  display: block;
  margin-bottom: 8px;
}
.employee-speciality {
  color: var(--SLATE);
  text-align: center;
  letter-spacing: 0.32px;
  display: block;
  margin-bottom: 8px;
}
.employee-contact-icons {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.employee-contact-icon {
  width: 40px;
  height: 40px;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.employee-contact-icon svg {
  fill: var(--CLOUD);
}
/* Mobile customers styles */
.customers-section {
  background-color: var(--WHITE);
  padding: 96px 0;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customer-link {
  border: 1px solid var(--LIGHT-SLATE);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-item {
  color: var(--LIGHT-SLATE);
  width: 190px;
  height: 88px;
}

.customer-link {
  color: currentColor;
}
.customer-item .customer-link svg {
  fill: currentColor;
}
/* Mobile footer styles */
footer {
  background-color: var(--NAVY-BLUE);
  padding: 96px 0;
}
.studio-part-footer {
  color: var(--CLOUD);
}
footer .container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
footer .logo,
.social-media-title,
.label-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.call-to-action {
  color: var(--CLOUD);
  letter-spacing: 0.32px;
  max-width: 268px;
  margin: 0 auto 72px;
}

.social-media-title {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-contact-icon {
  width: 40px;
  height: 40px;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-contact-icon svg {
  fill: var(--CLOUD);
}
.subscribe-form {
  width: 100%;
}

.form-input {
  color: var(--WHITE);
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 8px 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid var(--WHITE);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-input:placeholder-shown {
  border: 1px solid var(--WHITE);
}
.form-input::placeholder {
  color: var(--WHITE);
  font-size: 12px;
  letter-spacing: 0.48px;
}

.label-text {
  color: var(--WHITE);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
  border-radius: 4px;
  background: var(--IRIS);
  padding: 8px 24px;
  margin: 0 auto;
  cursor: pointer;
  border-style: none;
  min-width: 165px;
  height: 40px;
}
.send-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* Modal for mobile */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--idx-modal);
  background-color: var(--NAVY-BLUE-MODAL);
  backdrop-filter: blur(2px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--DAIRY);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-button {
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: var(--CORNFLOWER);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--OCEAN);
  border: none;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-icon,
.modal-close-button:focus .modal-icon {
  fill: var(--WHITE);
}
.inputs-modal {
  margin-bottom: 8px;
}
.comment-input-label {
  margin-bottom: 16px;
}
.input-wrap {
  position: relative;
}

.title-modal {
  color: var(--NAVY-BLUE);
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
/* .modal-form label {
  display: inline-block;
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  margin-bottom: 8px;
} */
.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
  display: block;
  margin-bottom: 4px;
}
.input-place {
  margin-top: 4px;
  padding-left: 38px;
  outline: transparent;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-place:focus {
  border: 1px solid var(--IRIS);
}

.input-icon {
  fill: var(--NAVY-BLUE);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-place:focus-within + .input-icon {
  fill: var(--IRIS);
}

.comment-area {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE-MODAL);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  width: 360px;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area:hover,
.comment-area:focus,
.comment-area:active {
  border-color: var(--IRIS);
}

/* .comment-area::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  letter-spacing: 0.48px;
} */
.checkbox-wrap {
  margin-bottom: 24px;
}
.privacy-policy.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.privacy-policy {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  margin-bottom: 24px;
}

.checkbox-icon-wrapper {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-policy:checked + .user-privacy > .checkbox-icon-wrapper {
  border: none;
  background-color: var(--OCEAN);
  fill: var(--CLOUD);
}

.privacy-link {
  color: var(--IRIS);
  line-height: 16px;
  /* text-decoration-line: underline; */
}

.user-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}
.submit {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
  border-radius: 4px;
  background-color: var(--IRIS);
  cursor: pointer;
  border-style: none;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit:hover,
.submit:focus {
  background-color: var(--OCEAN);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Mobile menu styles */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--WHITE);
  padding: 80px 35px 40px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-close {
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: var(--CORNFLOWER);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:active,
.menu-close:focus {
  background-color: var(--OCEAN);
  border: none;
}
.menu-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:active .menu-close-svg,
.menu-close:focus .menu-close-svg {
  fill: var(--WHITE);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-menu-link:active,
.mobile-menu-link:focus {
  color: var(--OCEAN, #404bbf);
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-phone {
  color: var(--IRIS, #4d5ae5);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-mail {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.mobile-contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}
.mobile-contact-icon svg {
  fill: var(--CLOUD);
}
/* =========Tablet size========= */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    flex-wrap: wrap;
  }
}
